/* General Header Styles */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: -webkit-fill-available;
  padding: 10px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  z-index: 1000;
  display: flex;
  align-items: center;
  background: #fff 0 0 no-repeat padding-box;
}

.logo {
  margin: 0 70px;
}

/* Logo Styling */
#header-logo {
  height: 35.31px;
  width: 142.53px;
}

/* Hamburger Menu (Visible on Mobile Only) */
#hamburger-menu {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  color: #232b76;
  cursor: pointer;
}

/* Navigation List Styles */
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav ul li {
  padding: 10px;
}

nav ul li a {
  text-align: left;
  font: normal normal bold 14px/37px 'FS Albert', sans-serif;
  letter-spacing: 0;
  color: #232B76;
  opacity: 1;
  text-decoration: none;
}

nav ul li a:hover {
  color: #007bff;
}

/* Mobile Styles */
@media screen and (width <=  1024px) {
  header {
    padding: 15px;
    justify-content: space-between;
  }

  /* Adjust logo size for mobile */
  #header-logo {
    height: 25px;
    width: auto;
  }

  /* Hamburger Menu Button */
  #hamburger-menu {
    display: block;
    justify-content: end;
    right: 0;
    position: absolute;
    padding: 0 10px;
  }

  /* Hide navigation links on mobile by default */
  nav ul {
    display: none;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
  }

  /* Show navigation links when menu is open */
  nav ul.open {
    display: flex;
  }

  nav ul li {
    text-align: center;
  }

  /* Adjust font size for mobile */
  nav ul li a {
    font-size: 14px;
  }
}
