/* General Footer Styling */

/* Footer Content Container */
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
}

/* Logo Section Styling */
.footer-logo img {
  width: 207px;
  height: 51px;
}

/* Text Section Styling */
.footer-text p {
  width: 270px;
  text-align: right;
  font: normal normal normal 16px/24px 'FS Albert', sans-serif;
  letter-spacing: 0;
  color: #333;
  opacity: 1;
}

/* Mobile Responsiveness */
@media screen and (width <= 768px) {
  #footer-container {
    display: flex;
    flex-direction: column; /* Stack content vertically */
    text-align: center; /* Center-align text */
  }

  .footer-content {
    flex-direction: column;
  }

  .footer-logo {
    margin-bottom: 10px; /* Add spacing between logo and text */
  }
}
